<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Failure</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="css/stylee.css">

    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
   <img src="images/amazondog-modified.png" width="400" height="400">
   <h1 class="heading">Oops!!!</h1>
   <h2 class="heading2">Please enter valid city name.</h2>
   <form action="/failure" method="post">
     <button class="btn btn-warning btn-lg button" type="submit" name="tryagain">Try Again</button>
   </form>
  </body>
</html>
