body {
  background-color: #F4B9B8;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  min-height: 680px;
  background-image: -webkit-linear-gradient(90deg, #659DBD 50%, #F8fbf8 50%);
}

/* F8fbf8 */

.heading {
  margin-top: 400px;
  color: #887BB0;
}

h3 {
  opacity:0.5;
}

.button {
  margin-top: -9px;
}

img {
  position: absolute;
  left: 450px;
  top: 15px;
  z-index: -1;
}

span {
  color: #FF1700;
}

@media (max-width:799px) {

  h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  h2 {
    text-align: center;
  }

  img {
    display:block;
    margin:0 auto;
  }
}
